.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}


/* adding styles for sizing preview images and text visibility*/

.fighter-preview__img {
  height: 350px;
  max-width:100%;
}
.fighter-preview__infobox {
  width:200px;
  background-color: rgba(0, 0, 0, 0.7);
}

.fighter-preview__text{
  text-transform: capitalize;
  color: white;
  font-size: 24px;
  padding-bottom:3px;
  text-align: center;
}